<body>
<nav class="navbar navbar-light bg-primary">
    <h1 style="color: white;">Tourist Form</h1>
    <a routerLink="/welcome"><img [src]="myimage" length="30%" width="30%"></a>
    <button class="btn btn-success"><a routerLink="/register" style="color: aliceblue;"><h4>RegisterTourist</h4></a></button>
    <button class="btn btn-success"><a routerLink="/details" style="color: aliceblue;"><h4>TouristDetails</h4></a></button>
</nav>
</body>

<!--<div>
  <img [src]="myimage" alt="" class="img">
</div>-->
<router-outlet></router-outlet>
